# apple system files
.DS_Store

# sitemaps shouldn't reflect dev environment
sitemap.xml
sitemap.xml.gz

# build tool
.sass-cache
node_modules

# wordfence
*/wp-content/plugins/wordfence/tmp/
*/wp-content/wflogs/

# fly images
*/wp-content/uploads/fly-images/